@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header_container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.head_header {
    background: #6809E1;
    height: .4rem;
    width: 100%;
}

.head_work {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    height: 5rem;
}

.head_work button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.day_mode {
    background: none;
}

.night_mode {
    background: #373737;
}

.night_mode .head_work {
    border: 1px solid #E8E8E8;
    border-bottom: 0px;
    border-top: 0px;
}

.day_mode .head_work {
    border: 1px solid lightgrey;
    border-bottom: 0px;
}

.day_mode .butn {
    background-color: white;
    color: #6809E1;
    border-color: #6809E1;
    border-radius: 3.813rem;
    width: 9.25rem;
    height: 2.688rem;
    margin-right: 4.25rem;
}

.day_mode .butn:hover {
    background-color: rgb(80, 227, 194);
    border: none;
}

.night_mode .butn {
    color: #FFFFFF;
    border-color: #FFFFFF;
    background-color: #373737;
    border-radius: 3.813rem;
    width: 9.25rem;
    height: 2.688rem;
    margin-right: 4.25rem;
}

.head_logo {
    height: 59.1086311340332px;
    width: 59.1086311340332px;
    margin-left: 4.25rem;
    cursor: pointer;
}